.postManage-container {
    width: 900px;
    margin: 0 auto;
    .title {
      margin-top: 30px;
    }
  }
.manage-board-title {
  padding: 15px;
  font-size: 18px;
  font-weight: bold;
}
.manage-board-ele {
  font-size: 17px;
  .board1 {
    padding: 5px;
  }
}
