#land {
  position: relative;
  width: 100%;
  height: 99%;
  background-color: white;
}
#header {
  display: flex;
  height: 60px;
}
#search-area {
  margin-top: 17px;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 45px;
}

.logo {
  height: 37px;
  font-size: xx-large;
  flex-basis: 140px;
}

.logo a {
  text-decoration: none;
  align-items: center;
  color: black;
  font-weight: 600;
}

.search-box {
  display: flex;
  width: 400px;
  height: 46px;
}
.search {
  height: 35px;
  width: 300px;
  border: 2px black solid;
  border-radius: 3px;
}

.search-box .search-ico {
  height: 36px;
  width: 50px;
  font-size: x-large;
  text-align: center;
  margin-top: 2px;
  flex-basis: 70px;
}
.search-box .search-ico span {
  vertical-align: middle;
  color: black;
}

.user {
  display: flex;
  flex-basis: 200px;
}
.user ul {
  display: inline-block;
  height: 20;
  align-items: center;
}
.user li {
  display: inline;
  margin: 8px;
  font-size: large;
  color: black;
}

/* 여기까지 헤더 */

#cafe-container {
  display: block;
  width: 80%;
  margin: 0 auto;
  margin-top: 50px;
  height: 80%;
  background-color: rgb(255, 251, 244);
}

.cafe-list {
  height: 120px;
}

.cafe-object {
  display: flex;
  color: black;
  border-top: gray solid 1px;
  height: 55px;
}
.cafe-thumb {
  /* 해당카페이미지*/
  /* 임시로 이상한거 넣었음*/
  display: inline-block;
  height: 55px;
  width: 55px;
  background-color: red;
}

.cafe-object a {
  display: flex;
  align-items: center;
  font-size: 16px;
  margin-left: 10px;
  text-decoration: none;
  color: black;
  font-weight: bold;
}

.cafe-recent {
  display: block;
  height: 17px;
}
.cafe-recent ul {
  min-height: 45px;
  margin-left: 65px;
  margin-top: 8px;
}
.cafe-recent li {
  font-size: 14px;
  margin: 3px;
}
