.post-container {
  padding: 29px 29px 0;
  border: 1px solid #ebecef;
  border-radius: 6px;
  margin-left: 215px;
  .post-from {
    color: #797979;
    font-size: 14px;
  }
}
.post-header {
  border-bottom: 1px solid #ebecef;
  padding-bottom: 13px;
}
.post-title {
  font-size: 26px;
  font-weight: 400;
  padding: 15px 5px;
}
.title {
  margin-top: 3px;
  margin-right: 12px;
  font-size: 17px;
  font-weight: bold;
  padding: 10px;
}
.writer {
  display: flex;
  font-size: 14px;
  align-items: center;
  justify-content: space-between;
}
.writer-info {
  display: flex;
  align-items: center;
}
.mask {
  display: inline-block;
  height: 36px;
  width: 36px;
  background-color: #efe7f0;
  margin-right: 3px;
}
.nick {
  margin-right: 6px;
  font-size: 13px;
  font-weight: 700;
}

.contents {
  padding: 8px;
  margin: 8px;
  min-height: 300px;
  border-bottom: 1px solid #ebecef;
}
.buttons {
  cursor: pointer;
  font-weight: 700;
  min-width: 46px;
  height: 36px;
  margin-left: 10px;
  padding: 0 12px;
  font-size: 13px;
  line-height: 36px;
  color: #000000;
  background-color: #eff0f2;
  border-radius: 6px;
  text-align: center;
}

.update-reply {
  display: flex;
  border: 1px solid #c5c3c5;
  border-radius: 5px;
  width: 650px;
  align-items: center;
  .updateinput {
    flex-basis: 90%;
  }
}
.write-reply {
  height: 88px;
  width: 100%;
  padding: 10px;
  bottom: 20px;
}

//.reply-menu-box {
//  display: none;
//}

.reply-box {
  display: flex;
  position: relative;
  border-bottom: 1px solid #ebecef;
  padding: 15px;
  justify-content: space-between;
  align-items: center;
  input {
    border: none;
    flex-basis: 80%;
    height: 30px;
  }
}
.bubble {
  display: none;
  float: right;
  text-align: center;
  width: 100px;
  height: 35px;
  margin-right: 5px;
  background: #ebecef;
  border-radius: 10px;
  .bubble-ele {
    width: 90%;
    margin: 0 auto;
    &:hover {
      background: #d3d4d6;
      border-radius: 5px;
    }
  }
}
.bubble-ele2 {
  cursor: pointer;
  border-radius: 5px;
  margin: 2px;
  align-items: center;
  width: 35px;
  background-color: rgb(238, 238, 238);
  text-align: center;
  line-height: 25px;
  height: 25px;
}
.reply-menu {
  display: flex;
  cursor: pointer;
  &:hover {
    color: #fd8802;
    .bubble {
      display: block;
      color: black;
    }
  }
}

.write-reply-box {
  @extend .reply-box;
  border: 2px solid #ebecef;
}

.btm-btn {
  @extend .buttons;
}
